// colors

$dark-grey: #979797;
$secondary-color: #083D8C;
$theme-color: #216DDF;
$background-grey: #F6F6F6;
$border-color: #D8D8D8;
$text-color: #3F3F3F;
$turquoise: #02C7C6;
$menu-color: #0BC9C8;

// fonts

$main-font: 'Open Sans';
